/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

// END RESET

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  max-width: 500px;
  margin: 0 auto;
}

h1 {
  font-size: 4em;
  text-align: center;

  button {
    position: relative;
    top: -13px;
    display: inline-block;
    background: darkgreen;
    height: 32px;
    width: 32px;
    border-radius: 32px;
    border: none;
    color: #fff;
    font-size: 0.35em;
    cursor: pointer;
    outline: none;
    line-height: 32px;
    padding: 0 0 0 2px;
    font-weight: bold;
  }
}

// General

ul {
  margin: 25px 0;
  width: 100%;

  li {
    margin: 0 0 25px;
    font-size: 2em;

    input[type="checkbox"] {
      position: relative;
      visibility: hidden;
      cursor: pointer;
      float: left;
      margin-right: 2em;

      &:checked ~ span {
        text-decoration: line-through;
      }
    }

    input[type="checkbox"]:after {
      display: block;
      content: "";
      position: absolute;
      top: 4px;
      right: -20px;
      visibility: visible;
      height: 32px;
      line-height: 32px;
      width: 32px;
      text-align: center;
      border-radius: 20px;
      color: #000;
      border: 2px solid #000;
      cursor: pointer;
      font-size: 2em;
    }

    input[type="checkbox"]:checked:after {
      content: "✔";
    }

    button {
      float: right;
      height: 32px;
      width: 32px;
      position: relative;
      top: 4px;
      right: 6px;
      line-height: 32px;
      background-color: #d80027;
      border-radius: 32px;
      border: none;
      color: #fff;
      font-size: 0.75em;
      cursor: pointer;
      outline: none;
    }
  }
}

input[type="text"] {
  font-size: 1.25em;
  width: 100%;
  border: 2px solid #000;
  border-radius: 4px;
  padding: 0.5em;

  &::placeholder {
    color: #999;
  }
}

* {
  user-select: none;
}
